{% extends "core/base.html" %}
{% load static %}

{% block contenido %}
    <main class="pagina">
        <div class="pagina-head">
            <h1>Acerca de</h1>
        </div>
        <p class="section-copy">{{ mensaje }}</p>
        {% if user.is_authenticated %}
            <div class="perfil">
                <img src="{% static 'core/perfil.png' %}" alt="Avatar de {{ user.get_username }}" />
                <span>{{ user.get_username }}</span>
            </div>
        {% endif %}
        <a class="btn btn-light enlace-volver" href="{% url 'core:index' %}">Volver al inicio</a>
    </main>
{% endblock contenido %}
