<!DOCTYPE html>
<html lang="es">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Ejercicio 2 - Usuarios</title>
    </head>
    <body>
        <h1>Ejercicio 2</h1>
        <h2>Datos de usuarios</h2>
        <table border="1">
            <thead>
                <tr>
                    <th>Nombre</th>
                    <th>Email</th>
                </tr>
            </thead>
            <tbody>
                {% for usuario in usuarios %}
                    <tr>
                        <td>{{ usuario.nombre }}</td>
                        <td>{{ usuario.email }}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
        <a href="/">Volver</a>
    </body>
</html>
