{% extends "core/base.html" %}
{% block contenido %}
    <h1>Servicios - Lista</h1>
    <a href="{% url 'servicios:servicio_create' %}">Crear</a>
    <form method="get">
        <input type="text" name="busqueda" placeholder="Buscar..." />
    </form>
    <table border="1">
        <thead>
            <tr>
                <th>Nombre</th>
                <th>Acciones</th>
            </tr>
        </thead>
        <tbody>
            {% for servicio in servicios %}
                <tr>
                    <td>{{ servicio.nombre }}</td>
                    <td>
                        <a href="{% url 'servicios:servicio_detail' servicio.id %}">Ver</a>
                        <a href="{% url 'servicios:servicio_update' servicio.id %}">Editar</a>
                        <a href="{% url 'servicios:servicio_delete' servicio.id %}">Eliminar</a>
                    </td>
                </tr>
            {% empty %}
                <tr>
                    <td colspan="3">No hay servicios disponibles.</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
    <a href="{% url 'servicios:index' %}">Volver</a>
{% endblock %}
